*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

header{
    text-align: end;
    margin: 5px;
    color: white;
    justify-content: flex-end;
}

header > span{
    padding: 3px;
    margin-right: 5px;
    background-color: #4b4b4b;
    border-radius: 5px;
}

main{
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around; 
    padding: 20px;
    overflow: auto;
}

.user{
    max-width: calc(100% / 7);
    min-height: 50px;
    padding: 5px;
}

.user img{
    width: 100%;
    border-radius: 10px;
}

.img-cont{
    position: relative;
}

.position-absolute{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: white;
    background-color: rgba(96, 94, 94, 0.607);
}

nav{
    justify-content: space-between;
    color: white;
    padding: 10px;
    background-color: #4b4b4b;
}

.icon{
    text-align: center;
}

.icon > i{
    line-height: 30px;
    font-size: 10px;
}

.icon-margin{
    margin: 0 10px;
}

.fa-share-from-square{
    color: greenyellow;
}

.fa-record-vinyl{
    color: red;
}

.end > button{
    background-color: rgb(101, 101, 101);
    color: red;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    border: none;
    padding: 0 10px;
}